
// button icons
.bi .wp-block-button__link{
    position: relative;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        position: relative;
        height: 40px;
        width: 40px;
        margin-right: 5px;
        display: inline-block;
        background: var(--primary-color);
    }
}



.bi .wp-block-button__link{
    &::before {
        background: url(../images/icons/icon-play.svg) no-repeat center;
    }
}
